<div class="container">
  <div class="col-sm-12 col-md-12 col-lg-12">
  <img src="../../assets/images/books.jpg"class="img-responsive">
<h4 class="edu">Best Books We all should Read. These books worth more then million dollar in Life</h4><br>
<div class="heading">Srimad Bhagvad Gita (the "as it is" pocket book version)</div><br>
(A must-read for Success in the Spiritual as well as Materialistic world!)<br>

<div class="heading">Tao Te Ching by Lao Tzu</div><br>
(It's simple, yet very deep. Gives a clear perspective on the way to the ultimate truth.)<br>
<div class="heading">Flow: The Psychology of Optimal Experience by Mihaly Csikszentmihalyi</div><br>
(One of the best books that I have ever read!!!)
<br>
<div class="heading">Unlimited Power by Anthony Robbins</div><br>
(Nice to get motivated and excited to do something.)
<br>
<div class="heading">The Magic of Thinking Big by David J. Schwartz</div><br>
(Whether you think you can, or you think you can't, you're right!)
<br>
<div class="heading">Think & Grow Rich by Napolean Hill</div><br>
(Undoubtedly, the best book ever written on becoming successful in the materialistic world!)
<br>
<div class="heading">Marketing Management by Philip Kotler</div><br>
(For those who want to make it big in business.)
<br>
<div class="heading">See You At The Top by Zig Ziglar</div><br>
(Full of real-life examples, inspirational stories and motivational quotes)
<br>

<div class="heading">The Holy Bible</div><br>
(A must-read for all.)
<br>
<div class="heading">Autobiography of a Yogi by Paramahansa Yogananda</div><br>
(Just to open-up your mind to new possibilities.)
<br>
<div class="heading">Rumi by Farrukh Dhondy</div><br>
(Heart-to-heart words.)
<br><br>
<div class="heading">You can Heal Your Life by Louise L. Hay</div><br>
(The name says it all.)
<br>
<div class="heading">Gandhi on Personal Leadership by Anand Kumarasamy</div><br>
(To bring out the leader in you!)<br>

<div class="heading">How to Win Friends and Influence People by Dale Carnegie</div><br>
(The name says it all!)
<br>
<div class="heading">The Power of Positive Thinking by Norman Vincent Peale</div><br>
(In a nutshell, our life depends upon our way of thinking.)
<br>
<div class="heading">The 7 Habits of Highly Effective People by Stephen R. Covey</div><br>
(It's worth reading at least once.)
<br>
<div class="heading">Who Moved My Cheese? by Spencer Johnson</div><br>
(One of my all-time favourites. I am sure you will love it too!)
<br>
<div class="heading">The Alchemist by Paulo Coelho</div><br>
(Once you start reading it, you won't stop until you finish it!)
<br>
<span>
  <br>
<div class="edu">Best Videos Ever</div><br>
</span>
					
<li>Look at Yourself by Nick Vujicic <br>
<span>
<a href="http://www.youtube.com/watch?v=Gc4HGQHgeFE" target="_blank">www.youtube.com/watch?v=Gc4HGQHgeFE</a>	
</span>
</li><br>

<li>Steve Jobs' 2005 Stanford Commencement Address <br>
<span>
<a href="http://www.youtube.com/watch?v=UF8uR6Z6KLc " target="_blank">www.youtube.com/watch?v=UF8uR6Z6KLc </a>	
</span>
</li><br>
            
<li>Inspirational - How Great I Am<br>
<span>
<a href="http://www.youtube.com/watch?v=V6xLYt265ZM " target="_blank">www.youtube.com/watch?v=V6xLYt265ZM</a>	
</span></li><br>
            
<li>Randy Pausch Last Lecture: Achieving Your Childhood Dreams<br>
<span>
<a href="http://www.youtube.com/watch?v=ji5_MqicxSo" target="_blank">www.youtube.com/watch?v=ji5_MqicxSo</a>	
</span></li><br>
            
<li>Spiritual Reality: Power of Meditation (In English)<br>
<span>
<a href="http://www.youtube.com/watch?v=P1Dlsa8tbvU" target="_blank">www.youtube.com/watch?v=P1Dlsa8tbvU</a>	
</span></li><br>
            
<li>Spiritual Reality: Power of Meditation (In Hindi)<br>
<span>
<a href="http://www.youtube.com/watch?v=1DPKrKTRloQ" target="_blank">www.youtube.com/watch?v=1DPKrKTRloQ</a>	
</span></li><br>

<li>Soul-Stirring Rumi's Poetry (In English)<br>
<span>
<a href="http://www.youtube.com/watch?v=4I60ZHdx5Og" target="_blank">www.youtube.com/watch?v=4I60ZHdx5Og</a>	
</span></li>
					


</div>
</div>