<div class=" container col-xs-12 col-sm-12  col-md-12 col-lg-12">
<p class="feedback">Feedback</p>
<form [formGroup]="myForm" (ngSubmit)="Submit()">
  <div class="group">
      <input type="textarea" formControlName="comment"><span class="highlight"></span><span class="bar"></span>
        <label>Comment</label>
  </div>
  <div class="group">
    <p>{{onClickResult | json}}</p>
   <star-rating-comp [labelText]="'Rate Us'"[labelPosition]="'top'" [starType]="'svg'"formControlName="rating"  [hoverEnabled]="true"(onClick)="onClick($event)"></star-rating-comp>
   
  </div>
 

  <button type="submit" class="button buttonBlue" [disabled]="!myForm.valid">Submit</button>
</form>
</div>