.logoImage{
    width:70px;
}
.navbar {
background:	#2b2b2b;
}


.nav > li > a {
    font-weight: bold;
    color:#d3d3d3;
    
}
.nav > li > a:hover{
    color: white;
    font-size: 20px;
}
  
  .footer{
     text-align: center;
     color:	#708090;
     font-size: 14pt;
     margin-top: 150px;
    
  }
 

.username{
color: white;
}
.signoutmenu {
cursor: pointer;

 } 
@media (max-width: 768px) {

   .dropdown-menu-right{
    right: auto;
    left: 0;
  }
}
