<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="back">
      <div style="float:left;">
        <a href="http://soltrick.blogspot.in/2014/07/how-25-things-can-make-you-happy-daily.html"target="_blank">
          <img src="../../assets/images/art1.jpg" class="img-responsive" >
        </a>
      </div>
      <div style="float:right;">
        <a href="http://soltrick.blogspot.in/2014/07/is-child-inside-you-worth-more-than.html"target="_blank">
          <img src="../../assets/images/art2.jpg" class="img-responsive">
        </a>
      </div> 
    </div>
	  <div class="back">
      <div style="float:left;">
        <a href="http://soltrick.blogspot.in/2014/07/how-thinking-can-make-or-break-you-its.html"target="_blank">
          <img src="../../assets/images/art3.jpg" class="img-responsive" >
        </a>
      </div>
      <div style="float:right;">
        <a href="http://infosoltrick.blogspot.in/"target="_blank">
          <img src="../../assets/images/art4.jpg" class="img-responsive">
        </a>
      </div> 
    </div>
  </div>
</div>