<div class="container">
<div class ="quotes col-sm-12 col-md-12 col-lg-12">
<img src="../../assets/images/sml.jpg" class="img-responsive">

<h4> Best 50 Quotes about Happiness : </h4>
 -It only takes one person to make you happy and change your life:  YOU.<br>

 -Your life will improve only when you take small chances, and the first and most difficult chance you can take is to be honest with yourself.<br>

 -Stop focusing on how stressed you are and remember how blessed you are.  It could be so much worse.<br>

 -It is not what happens to you, but how you respond to what happens to you.  Count your blessings while others are adding up their troubles.<br>

 -Look for something positive about this moment.  Even if you have to look a little harder than usual, it still exists.<br>


 -When you smile about the life you live, you end up living a life worth smiling about.<br>


 -Remember, social comparison is the thief of happiness.  You could spend a lifetime worrying about what others have, but it wouldn’t get you anything.<br>


 -Happiness comes more easily when you feel good about yourself without feeling the need for anyone else’s approval.<br>


 -Be nice to people on your way up because you might meet them again on your way back down.<br>


 -Set an example. Treat everyone with kindness and respect, even those who are rude to you – not because they are nice, but because you are.<br>


 -Kindness is not to be mistaken for weakness, nor forgiveness for acceptance.  It’s about knowing resentment of any kind is not on the path to happiness.<br>


 -Give as much as you can, but don’t allow yourself to be used.  Listen to others closely, but don’t lose your own voice.<br>


 -Say what you need to say.  Speak your truth.  There is no greater sadness than holding on to the words you never had the courage to speak.<br>


 -You can’t change how people treat you or what they say about you.  All you can do is change how you react and who you choose to be around.<br>


 -Negative company will never give you a positive life.  Examine what you tolerate in the long-term.<br>


 -What you allow is what will continue.  It’s always better to spend more time alone than allow negative people and their opinions to derail you from your destiny.
<br>

 -When other people treat you poorly, walk away, smile and keep being YOU.  Don’t ever let someone else’s bitterness change the person you are.
<br>
 
 -Your value doesn’t decrease based on someone’s inability to see your worth.  It’s their loss, not yours.
<br>
 
 -One of the most freeing things we learn in life is that we don’t have to like everyone, everyone doesn’t have to like us, and that’s OK.
<br>

 -When someone says, “You’ve changed,” it’s not always a bad thing.  Sometimes it just means you stopped living your life their way.
<br>

 -Never be ashamed of how you feel.  You have the right to feel any emotion that comes to you, and to follow a path that makes you happy.
<br>

 -The unhappiest people in this world are the people who care the most about what everyone else thinks.
<br>

 -You can’t base your idea of success and happiness on other people’s opinions and expectations.  
<br>

 -Happiness and success is all about spending your life in your own way.  Be yourself.  No one can ever tell you you’re doing it wrong.
<br>

 -It’s always better to be at the bottom of the ladder you want to climb than the top of the one you don’t.
<br>

 -Work to create a life that feels right to YOU, not one that looks right to everyone else.
<br>

 -No amount of money will make you happy if you aren’t happy with yourself.
<br>

 -Maybe the thing you’re scared of is exactly what you should do.  Sometimes life is about risking it all for a dream no one can see but you.
<br>

 -You can’t always wait for the perfect moment.  Sometimes you must dare to do it because life is too short to regret and wonder what could have been.
<br>

 -The most reliable way to predict the future is to create it.  Participate in life instead of just watching it pass you by.
<br>

 -Nothing’s more fun than doing what people say you can’t do.
<br>

 -Almost anything is possible if you’ve got enough time and enough nerve.
<br>

 -Great challenges make life interesting; overcoming them makes life meaningful.  It’s how you deal with failure that determines your happiness and success.
<br>
<img src="../../assets/images/quotes.jpg" class="img-responsive"><br>
 -Let your mistakes be your motivation, not your excuses.  Decide right now that negative experiences from your past won’t predict your future.
<br>

 -What is coming is better than what is gone.  Don’t give up hope.  Good things often happen when you least expect it.
<br>

 -If you take another step, and another, you will be surprised to know how far you can go from the point you thought was the end.
<br>

 -Nothing is more beautiful and powerful than a smile that has struggled through the tears.
<br>

 -Any fool can be happy when times are good.  It takes a strong soul with real heart to develop smiles out of situations that make us weep.
<br>

 -No matter how long it takes, it will get better.  Tough situations build strong people in the end.
<br>

 -As we grow older and wiser, we begin to realize what we need and what we need to leave behind.  Sometimes walking away is a step forward.
<br>

 -At the end of the day, you can either focus on what’s tearing you apart, or what’s holding you together.
<br>

 -One of the most rewarding moments in life is when you finally find the courage to let go of what you can’t change.
<br>

 -Whatever you do, don’t get stuck on the one thing that ruins your day.  Smile and be grateful.  Life is too short to waste on negativity.
<br>

 -The less you expect, the more pleasant life gets.
<br>

 -Patience can be bitter, but the seeds you plant now will bear sweet fruit.  
<br>

 -Live simply.  Love generously.  Speak truthfully.  Breathe deeply.  Do your best.  Leave everything else to the powers above you.
<br>

 -Do not dwell so much on creating your perfect life that you forget to live.
<br>

 -The trick is to enjoy your life today.  Don’t wish it away by waiting for better days ahead.
<br>

 -Pay attention to the little things, because when you really miss “the good old days,” you miss the little things the most, like just laughing with someone special.
<br>

 -Go for long walks.  Indulge in great conversations.  Pay attention to the moment.  Count your blessings.  Let go for a little while and just be and breathe.
<br>

 -It only takes one person to make you happy and change your life:  YOU.
<br>

 -Your life will improve only when you take small chances, and the first and most difficult chance you can take is to be honest with yourself.
<br>

 -Stop focusing on how stressed you are and remember how blessed you are.  It could be so much worse.
<br>

 -It is not what happens to you, but how you respond to what happens to you.  Count your blessings while others are adding up their troubles.
<br>

 -Look for something positive about this moment.  Even if you have to look a little harder than usual, it still exists.
<br>

 -When you smile about the life you live, you end up living a life worth smiling about.
<br>

 -Remember, social comparison is the thief of happiness.  You could spend a lifetime worrying about what others have, but it wouldn’t get you anything.
<br>

 -Happiness comes more easily when you feel good about yourself without feeling the need for anyone else’s approval.
<br>

 -Be nice to people on your way up because you might meet them again on your way back down.
<br>

 -Set an example. Treat everyone with kindness and respect, even those who are rude to you – not because they are nice, but because you are.  
<br>

 -Kindness is not to be mistaken for weakness, nor forgiveness for acceptance.  It’s about knowing resentment of any kind is not on the path to happiness.
<br>

 -Give as much as you can, but don’t allow yourself to be used.  Listen to others closely, but don’t lose your own voice.
<br>

 -Say what you need to say.  Speak your truth.  There is no greater sadness than holding on to the words you never had the courage to speak.
<br>

 -You can’t change how people treat you or what they say about you.  All you can do is change how you react and who you choose to be around.
<br>

 -Negative company will never give you a positive life.  Examine what you tolerate in the long-term.
<br>

 -What you allow is what will continue.  It’s always better to spend more time alone than allow negative people and their opinions to derail you from your destiny.
<br>
 

 -When other people treat you poorly, walk away, smile and keep being YOU.  Don’t ever let someone else’s bitterness change the person you are.
<br>

 -Your value doesn’t decrease based on someone’s inability to see your worth.  It’s their loss, not yours.
<br>

 -One of the most freeing things we learn in life is that we don’t have to like everyone, everyone doesn’t have to like us, and that’s OK.
<br>

 -When someone says, “You’ve changed,” it’s not always a bad thing.  Sometimes it just means you stopped living your life their way.
<br>
 -Never be ashamed of how you feel.  You have the right to feel any emotion that comes to you, and to follow a path that makes you happy.
<br>

 -The unhappiest people in this world are the people who care the most about what everyone else thinks.
<br>

 -You can’t base your idea of success and happiness on other people’s opinions and expectations.  
<br>

 -Happiness and success is all about spending your life in your own way.  Be yourself.  No one can ever tell you you’re doing it wrong.
<br>

 -It’s always better to be at the bottom of the ladder you want to climb than the top of the one you don’t.
<br>

 -Work to create a life that feels right to YOU, not one that looks right to everyone else.
<br>

 -No amount of money will make you happy if you aren’t happy with yourself.
<br>

 -Maybe the thing you’re scared of is exactly what you should do.  Sometimes life is about risking it all for a dream no one can see but you.
<br>

 -You can’t always wait for the perfect moment.  Sometimes you must dare to do it because life is too short to regret and wonder what could have been.
<br>

 -The most reliable way to predict the future is to create it.  Participate in life instead of just watching it pass you by.
<br>

 -Nothing’s more fun than doing what people say you can’t do.
<br>

 -Almost anything is possible if you’ve got enough time and enough nerve.
<br>

 -Great challenges make life interesting; overcoming them makes life meaningful.  It’s how you deal with failure that determines your happiness and success.
<br>

 -Let your mistakes be your motivation, not your excuses.  Decide right now that negative experiences from your past won’t predict your future.
<br>

 -What is coming is better than what is gone.  Don’t give up hope.  Good things often happen when you least expect it.
<br>

 -If you take another step, and another, you will be surprised to know how far you can go from the point you thought was the end.
<br>

 -Nothing is more beautiful and powerful than a smile that has struggled through the tears.
<br>

 -Any fool can be happy when times are good.  It takes a strong soul with real heart to develop smiles out of situations that make us weep.
<br>
 -No matter how long it takes, it will get better.  Tough situations build strong people in the end.
<br>

 -As we grow older and wiser, we begin to realize what we need and what we need to leave behind.  Sometimes walking away is a step forward.
<br>

 -At the end of the day, you can either focus on what’s tearing you apart, or what’s holding you together.
<br>

 -One of the most rewarding moments in life is when you finally find the courage to let go of what you can’t change.
<br>

 -Whatever you do, don’t get stuck on the one thing that ruins your day.  Smile and be grateful.  Life is too short to waste on negativity.
<br>

 -The less you expect, the more pleasant life gets.
<br>

 -Patience can be bitter, but the seeds you plant now will bear sweet fruit.  
<br>

 -Live simply.  Love generously.  Speak truthfully.  Breathe deeply.  Do your best.  Leave everything else to the powers above you.
<br>

 -Do not dwell so much on creating your perfect life that you forget to live.
<br>

 -The trick is to enjoy your life today.  Don’t wish it away by waiting for better days ahead.
<br>

 -Pay attention to the little things, because when you really miss “the good old days,” you miss the little things the most, like just laughing with someone special.
<br>

 -Go for long walks.  Indulge in great conversations.  Pay attention to the moment.  Count your blessings.  Let go for a little while and just be and breathe.
<br>

</div>
</div>