<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 about"> 
	Soltrick is the best place on web to learn and grow, It is dedicated to those people who don't have access to education.<br>
	Our main Purpose is to provide best education in the world for those who don't have have access to education. <br>
	We inspire and motivate people to do something in life. Soltrick helps people to find the purpose of their life.<br>
	We Believe Sharing is the most Wonderful thing in universe. Look at nature, Its the perfect example of sharing.<br>
	Share anything you have, it will keep you and others around you happy.<br>
	We are what we do regularly and then excellence is not an act but a Habit.<br>
	The ultimate goal of soltrick is to see the Smile on the faces of all Human Being, this is what matters at last.<br>
	We follow the philosophy of Be the change, You want to see. So start changing yourself from now.<br>
	This is just our beginning, but we believe we can change the world in no time and anyone who dreams like us can join us on this great journey <br>
	Learn Grow & Share. 
    Believe in Yourself !!
</div>
