<div class="container">
<div class="col-sm-12 col-md-12 col-lg-12 contact">
<img src="../../assets/images/cont.jpg" class="img-responsive"><br>
<font color="grey" align="center"> Feel Free to Contact us anytime. Whatever help you need we will try our best to satisfy you.<br>
You can ask us for  ebooks, articles, Lectures on Computer subjects.<br>
Any problem regarding Computer and Internet Contact us 24*7.<br>
For More information you can join us on         
<a href="http://www.facebook.com/soltrick" target="_blank" t="sitenav/facebook" class="nav_floated" rel="nofollow">
<img src="../../assets/images/f.jpg" width="16" height="18" class="sp_chrome s_facebook" title="join us on Facebook" /></a> 
<a href="http://twitter.com/soltrick" target="_blank" t="sitenav/twitter" class="nav_floated" rel="nofollow">
<img src="../../assets/images/tw.png" width="16" height="18" class="sp_chrome s_twitter" title="Follow us on Twitter" /></a>  
<a  href="https://plus.google.com/u/0/101729462658369931513" target="_blank" t="sitenav/google+" class="nav_floated" rel="nofollow">
<img src="../../assets/images/g.jpg" width="16" height="18" class="sp_chrome s_google+" title="join us on Google+" /></a> <br>
Email: <a href="mailto:soltrick2012@gmail.com">soltrick2012@gmail.com</a><br>
<a href="mailto:agrawala.neha@gmail.com">agrawala.neha@gmail.com</a><br>
Email your queries, Questions and your suggestions.		<br>
